* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 44px;
  overflow: hidden;
}

.love {
  width: 180px;
  height: 180px;
  background-color: #fd79a8;
  margin: 200px auto;
  position: relative;
  transform: rotate(45deg);
  z-index: 1;
  animation: rotate 2s linear;
}

.delay {
  animation: scale 2s infinite;
}

.love::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -90px;
  width: 180px;
  height: 180px;
  background-color: #fd79a8;
  border-radius: 50%;
  z-index: -1;
}

.love::after {
  content: "";
  position: absolute;
  top: -90px;
  left: 0px;
  width: 180px;
  height: 180px;
  background-color: #fd79a8;
  border-radius: 50%;
  z-index: -1;
}

.love .title {
  display: inline-block;
  width: 180px;
  height: 180px;
  line-height: 90px;
  text-align: center;
  transform: rotate(-45deg);
  color: #ffffff;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(405deg);
  }
}

@keyframes scale {
  0% {
    transform: rotate(45deg) scale(1);
  }

  50% {
    transform: rotate(45deg) scale(1.2);
  }

  100% {
    transform: rotate(45deg) scale(1);
  }
}
